#friends-display-link {
  text-align: center;
  display: block;
  width: 100%;
  background-color: #f9f9fa;
  padding: 15px 0px;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: -10px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

.friends-screen {
  padding: 0 var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background: linear-gradient(to bottom right, blue, purple);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1s;
}

#splash-screen .moon {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(rgb(241, 241, 160), var(--yellow));
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
#splash-screen i {
  color: white;
}

#splash-screen span {
  position: absolute;
  z-index: 1;
  top: 132px;
  font-size: 30px;
  font-weight: bold;
}
